:root {
    --color-primario: rgb(126, 189, 154);
    --color-focus: rgb(67, 166, 112);
    --color-titulo-cat: rgb(212, 244, 227);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-container {
    background-color: var(--color-primario);
}

.nav-title {
    padding: 0.2em;
    font-size: 1.7em;
    border-radius: 5px;
}

.my-nav-link {
    font-size: 1em;
    border-radius: 5px;
}

.nav-title:hover,
.nav-title:focus,
.my-nav-link:hover,
.my-nav-lin:focus {
    background-color: var(--color-focus);
}

/* **************
    OPERACIONES 
*************** */
.btn-operaciones {
    border-color: var(--color-primario);
}

.btn-operaciones:hover,
.btn-operaciones:focus {
    background-color: var(--color-focus)
}

.imagen-operaciones {
    margin-top: 5em;
    width: 50%;
}

/* ***************
       CATEGORIAS
*************** */

.btn-titulo-categorias{
    background-color: var(--color-titulo-cat);
}

/* ***************
        PARA JS
*************** */

.oculto{
    display: none;
}

.ganancia{
    color: green;
}

.ganancia::before {
    content: '+';

}
.gasto{
    color:red;
}

.gasto::before {
    content: '-';
}
