:root {
    --color-primario: rgb(127, 179, 213);
    --color-body: rgb(214, 234, 248);
    --color-image: linear-gradient(-90deg, rgb(214, 234, 248), rgb(171, 235, 198), rgb(252, 243, 207));
    --color-focus: rgb(115, 198, 182);
    --color-titulo-cat: rgb(127, 179, 213);
}

.dark {
    --color-primario: rgb(67, 72, 88);
    --color-focus: rgb(74, 70, 100);
    --color-titulo-cat: rgb(171, 163, 173);
    --color-body: rgb(7, 10, 47);
    --color-image: linear-gradient(-90deg, rgb(0, 0, 0), rgb(22, 25, 42), rgb(2, 8, 50));
    --color-text: white;
}

body {
    background-color: var(--color-body);
    background-image: var(--color-image);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-container {
    background-color: var(--color-primario);
}

.nav-title {
    padding: 0.2em;
    font-size: 1.7em;
    border-radius: 5px;

}

.my-nav-link {
    font-size: 1em;
    border-radius: 5px;

}

.nav-title:hover,
.nav-title:focus,
.my-nav-link:hover,
.my-nav-lin:focus {
    background-color: var(--color-focus);
}

.dark-input:checked {
    background-color: rgb(0, 0, 0);
}

/* **************
    OPERACIONES 
*************** */
.btn-operaciones {
    border-color: var(--color-primario);
}

.btn-operaciones:hover,
.btn-operaciones:focus {
    background-color: var(--color-focus)
}

.imagen-operaciones {
    margin-top: 5em;
    width: 50%;
}

/* ***************
       CATEGORIAS
*************** */

.btn-titulo-categorias {
    background-color: var(--color-titulo-cat);
}

/* ***************
        PARA JS
*************** */

.oculto {
    display: none;
}

.ganancia {
    color: green;
}

.ganancia::before {
    content: '+';

}

.gasto {
    color: red;
}

.gasto::before {
    content: '-';
}

/* ********************
        RESPONSIVE
************************/

@media (min-width:820px) and (max-width: 1700px) {
    .nav-flex {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width:420px) and (max-width: 819px) {
    .container-operaciones-titulo {
        font-size: 0.9em;
    }

    .container-operaciones-btn {
        font-size: 0.7em;
    }
}


@media (min-width:100px) and (max-width: 419px) {

    .responsive-titulo {
        font-size: 0.9em;

    }

    .responsive-btn {
        font-size: 0.7em;

    }

    .tabla-responsive {
        font-size: 0.6em;
    }

    .tabla-responsive-reportes {
        font-size: 0.9em;
    }
}